.CallToAction {
    max-width: var(--max-width);
    margin: 0 auto;
    height: 50vh;

    background: #333;
    color: #fff;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}